<div class="flex flex-col gap-10 shadow-lg px-10 py-10 bg-zinc-800 rounded-lg h-full">
  <div class="flex flex-col gap-10">
    <h2 class="text-gray-200 font-bold text-2xl">Consultar Clientes</h2>

    <!-- Barra de pesquisa -->
    <div class="Buscar flex gap-4">
      <input name="pesquisar" type="text" placeholder="Pesquisar por Nome ou CPF"
        [(ngModel)]="filtro"
        (input)="filtrar()"
        class="w-1/3 rounded-md bg-zinc-700 px-4 py-1.5 text-sm font-light text-gray-200 
               placeholder:text-gray-400 border border-zinc-600 outline-none focus:border-zinc-500" />
    </div>

    <!-- Tabela -->
    <div class="overflow-x-auto max-h-100 overflow-y-auto">
      <table class="w-full table-fixed">
        <thead class="border-b border-gray-200">
          <tr>
            <th class="px-4 py-2 text-left text-sm text-gray-200 font-semibold w-2/6">
              <span class="bg-white text-zinc-800 text-xs font-medium px-2 py-0.3 rounded-full mr-1">{{ clientes.length }}</span>CPF
            </th>
            <th class="px-4 py-2 text-left text-sm text-gray-200 font-semibold w-2/6">Nome</th>
            <th class="px-4 py-2 text-left text-sm text-gray-200 font-semibold w-2/6">Cidade</th>
            <th class="px-4 py-2 text-left text-sm text-gray-200 font-semibold w-2/6">Estado</th>
            <th class="px-4 py-2 text-left text-sm text-gray-200 font-semibold w-2/6">Saldo</th>
            <th class="px-4 py-2 text-left text-sm text-gray-200 font-semibold w-2/6">Limite</th>
            <th class="px-4 py-2 text-left text-sm text-gray-200 font-semibold w-2/6">Detalhes</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          @for (c of clientes; track c.cpf) {
            <tr class="hover:bg-gray-50 transition-colors">
              <td class="px-4 py-2 text-sm text-gray-300">{{ c.cpf | cpfFormatador }}</td>
              <td class="px-4 py-2 text-sm text-gray-300">{{ c.nome }}</td>
              <td class="px-4 py-2 text-sm text-gray-300">{{ c.cidade }}</td>
              <td class="px-4 py-2 text-sm text-gray-300">{{ c.estado }}</td>
              <td class="px-4 py-2 text-sm text-gray-300">R${{ c.saldo | moedaBr }}</td>
              <td class="px-4 py-2 text-sm text-gray-300">R${{ c.limite | moedaBr }}</td>
              <td class="px-4 py-2 text-sm text-gray-300 hover:underline cursor-pointer">
              <a (click)="verDetalhes(c.cpf)">VER</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

      <!-- MODAL -->
@if (mostrarModal) {
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-zinc-800 rounded-lg shadow-lg p-6 w-[28rem]">

      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold text-gray-200">Detalhes do Cliente</h2>
        <button (click)="fecharModal()" class="text-gray-400 hover:text-gray-200 text-2xl">X</button>
      </div>

      <div class="space-y-2 text-sm text-gray-300">
        <p><strong>CPF:</strong> {{ clienteSelecionado?.cpf | cpfFormatador }}</p>
        <p><strong>Nome:</strong> {{ clienteSelecionado?.nome }}</p>
        <p><strong>Email:</strong> {{ clienteSelecionado?.email }}</p>
        <p><strong>Telefone:</strong> {{ clienteSelecionado?.telefone | telefoneFormatador }}</p>
        <p><strong>Salário:</strong> R${{ clienteSelecionado?.salario | moedaBr }}</p>
        <p><strong>Número da Conta:</strong> {{ clienteSelecionado?.conta }}</p>
        <p><strong>Saldo:</strong> R${{ clienteSelecionado?.saldo | moedaBr }}</p>
        <p><strong>Limite:</strong> R${{ clienteSelecionado?.limite | moedaBr }}</p>
        <p><strong>Gerente:</strong> {{ clienteSelecionado?.gerente_nome }} </p>
        <p><strong>Gerente:</strong> {{ clienteSelecionado?.gerente_email }} </p>
        <p><strong>CPF:</strong>  {{ clienteSelecionado?.gerente | cpfFormatador }}</p>
        <p><strong>Endereço:</strong> {{ clienteSelecionado?.endereco }},
          {{ clienteSelecionado?.cidade }} - {{ clienteSelecionado?.estado }}
        </p>
      </div>
      <div class="mt-6 flex justify-end">
      </div>
    </div>
  </div>
}
