<div class="flex flex-col shadow-lg bg-zinc-800 rounded-lg h-full border border-zinc-700 overflow-hidden font-mono">
    <div class="flex w-full items-center justify-between border-b border-zinc-700 bg-zinc-900 px-6 py-4 text-sm text-zinc-300"></div>

    <div class="flex flex-col px-10 py-10">
        @if (loading) {
          <app-loading cor="#a5f2c2"></app-loading>
        }
        
        <h2 class="text-2xl font-bold text-white mb-8 self-start">Buscar cliente</h2>

    <!-- Barra de pesquisa -->
    <div class="flex gap-4 mb-10">
      <input 
        type="text" 
        [(ngModel)]="cpf" 
        [numericos]="'cpf'" 
        maxlength="14"
        CpfValidator 
        placeholder="Digite apenas os números do CPF"
        class="block w-[400px] rounded-sm border-neutral-700 bg-zinc-700/30 px-3 py-1 text-white outline-none placeholder:text-zinc-500 sm:text-sm/6 border border-1 focus:border-gray-400" />
      <button
        (click)="buscar()"
        [disabled]="!cpf"
        class="px-4 py-1.5 bg-green-300 text-black text-sm rounded-sm hover:bg-green-400 disabled:bg-zinc-600 disabled:text-zinc-400 disabled:cursor-not-allowed"
      >
        Pesquisar
      </button>
    </div>
    
    <!-- Cliente -->
  @if (cliente) {
    <div class="bg-zinc-900 border border-zinc-700 rounded-lg p-5 font-mono">
      <div class="grid grid-cols-2 gap-6">
        <div>
          <h3 class="text-xs uppercase text-zinc-500 mb-2">
            Dados Pessoais
          </h3>

          <div class="flex justify-between items-start gap-8">
            <div>
              <p class="text-white font-bold text-lg">
                {{ cliente.nome }}
              </p>

              <p class="text-zinc-400 text-sm">
                {{ cliente.email }}
              </p>

              <p class="text-zinc-500 text-sm">
                {{ cliente.telefone | telefoneFormatador }}
              </p>
            </div>

            <span class="text-zinc-500 text-xs">
              {{ cliente.cpf | cpfFormatador }}
            </span>
          </div>
        </div>

        <div>
          <h3 class="text-xs uppercase text-zinc-500 mb-2">
            Endereço
          </h3>

          <p class="text-zinc-400 text-sm">
            {{ cliente.endereco }}
          </p>

          <p class="text-zinc-500 text-sm">
            {{ cliente.cidade }} - {{ cliente.estado }}
          </p>

        </div>

        <div class="mt-5 pt-5 border-t border-zinc-700">
          <h3 class="text-xs uppercase text-zinc-500 mb-3">
            Conta
          </h3>

          <div class="grid grid-cols-2 gap-4">

            <div>
              <p class="text-zinc-500 text-xs">Número</p>
              <p class="text-white text-sm">{{ cliente.conta }}</p>
            </div>

            <div>
              <p class="text-zinc-500 text-xs">Salário</p>
              <p class="text-sky-300 text-sm">
                R$ {{ cliente.salario | moedaBr }}
              </p>
            </div>

            <div>
              <p class="text-zinc-500 text-xs">Saldo</p>
              <p
                class=" text-sm"
                [ngClass]="cliente.saldo >= 0 ? 'text-green-400' : 'text-red-400'"
              >
                R$ {{ cliente.saldo | moedaBr }}
              </p>
            </div>

            <div>
              <p class="text-zinc-500 text-xs">Limite</p>
              <p class="text-sky-300 text-sm">
                R$ {{ cliente.limite | moedaBr }}
              </p>
            </div>
          </div>
        </div>

        <div class="mt-5 pt-5 border-t border-zinc-700">
          <h3 class="text-xs uppercase text-zinc-500 mb-2">
            Gerente Responsável
          </h3>

          <div class="flex justify-between items-start gap-8">
            <div>
              <p class="text-white text-sm">
                {{ cliente.gerente_nome }}
              </p>
      
              <p class="text-zinc-400 text-sm">
                {{ cliente.gerente_email }}
              </p>
            </div>

            <p class="text-zinc-500 text-xs">
              {{ cliente.gerente | cpfFormatador }}
            </p>
          </div>
        </div>
      </div>
    </div>
} @else if (pesquisado) {
  <div class="text-gray-300">
    <p>{{ mensagemErro }}</p>
  </div>
}