
<link href="client-search.css">
<div class="container">
<div class="Pesquisar">
<input type="text" placeholder="Busque usando o CPF">
<button>Pesquisar</button>
</div>

<table class="cliente">

<thead>
<tr>
<th>CPF</th>
<th>Nome</th>
<th>Cidade</th>
<th>Estado</th>
<th>Numero da conta</th>
<th>Saldo da conta</th>
<th>Limite da conta</th>
<th>Gerente</th>
<th>Data criação</th>
</tr>
</thead>

<tbody>
<tr>
<td>12912861012</td>
<td>Catharyna</td>
<td>São Paulo</td>
<td>SP</td>
<td>1291</td>
<td>R$ 800,00</td>
<td>R$ 5.000,00</td>
<td>Geniéve</td>
<td>01/01/2000</td>
</tr>

</tbody>
</table>
</div>
