<div class="flex flex-col w-full h-full bg-zinc-800 font-mono rounded-lg border border-zinc-700 overflow-hidden shadow-2xl items-center">

    <div class="flex w-full items-center justify-between border-b border-zinc-700 bg-zinc-900 px-6 py-4 text-sm text-zinc-300"></div>
    
    @if (loading) {
        <app-loading cor="#5f98d4"></app-loading>
    }
    
    <div class="min-w-5xl my-5">
        <header class="mb-5 mt-8">
            <h1 class="text-2xl font-bold text-white mb-2">Meu Extrato</h1>

            <div class="flex flex-col gap-4 mt-1">
                <div class="flex items-center gap-4 flex-wrap mt-2">
                    <div class="flex items-center gap-2 rounded-lg">
                        <span class="text-sm text-white">Início:</span>

                        <input
                            type="date"
                            [(ngModel)]="dataInicio"
                            (change)="filtrarPorPeriodo()"
                            [max]="getDataHoje()"
                            [min]="dataMinima"
                            class="bg-zinc-900 border rounded-md px-3 py-2 text-white text-xs"
                            [ngClass]="{
                                'border-red-500': mensagemErro,
                                'border-zinc-700': !mensagemErro
                            }"
                        >
                    </div>

                    <div class="flex items-center gap-2">
                        <span class="text-sm text-white">Fim:</span>

                        <input
                            type="date"
                            [(ngModel)]="dataFim"
                            (change)="filtrarPorPeriodo()"
                            [max]="getDataHoje()"
                            [min]="dataInicio"
                            class="bg-zinc-900 border border-zinc-700 rounded-md px-3 py-2 text-white text-xs"
                            [ngClass]="{
                                'border-red-500': mensagemErro,
                                'border-zinc-700': !mensagemErro
                            }"
                        >
                    </div>
                </div>

                @if (mensagemErro) {
                    <span class="text-red-500 text-[10px] normal-case">
                        {{ mensagemErro }}
                    </span>
                }
            </div>
        </header>
    </div>

    <div class="flex-1 flex overflow-hidden">
        <div class="overflow-x-auto max-h-110 overflow-y-auto  border border-zinc-700 rounded-lg">

    <!-- Tabela -->
            <table class="min-w-5xl text-sm text-zinc-300">

                <thead class="bg-zinc-900">
                    <tr>
                        <th class="px-4 py-2 text-left border-b border-zinc-700">Data/hora</th>
                        <th class="px-4 py-2 text-left border-b border-zinc-700">Operação</th>
                        <th class="px-4 py-2 text-left border-b border-zinc-700">Origem/Destino</th>
                        <th class="px-4 py-2 text-left border-b border-zinc-700">Valor</th>
                        <th class="px-4 py-2 text-left border-b border-zinc-700">Saldo</th>
                    </tr>
                </thead>

                <tbody>
                @for (movimentacao of movimentacoesExibicao; track $index) {                        
                    <tr class="hover:bg-zinc-700/30">
                        <td class="px-4 py-2 border-b border-zinc-700">{{movimentacao.data | date:'dd/MM/yyyy HH:mm' }}</td>
                        <td class="px-4 py-2 border-b border-zinc-700">{{movimentacao.tipo}}</td>
                        <!-- Campo Origem/Destino -->
                        @if((movimentacao.destino !== movimentacao.origem) && (movimentacao.destino !== null)) {
                            <td class="px-4 py-2 border-b border-zinc-700">De {{movimentacao.origem}} para {{movimentacao.destino}}</td>
                        } @else {
                            <td class="px-4 py-2 border-b border-zinc-700">---</td>
                        }
                        <!-- Campo valor -->
                         @switch (movimentacao.tipo) {
                            @case("transferência") {
                                @if(movimentacao.destino === cliente.conta){ <!-- Se clienteDestino === nome do login atual, Azul. Caso contrário, vermelho. -->
                                    <td class="px-4 py-2 text-lg border-b border-zinc-700 text-sky-300 font-bold">R$ + {{movimentacao.valor | moedaBr}}</td>    
                                } @else {
                                    <td class="px-4 py-2 text-lg border-b border-zinc-700 text-red-400 font-bold">R$ - {{movimentacao.valor | moedaBr}}</td>
                                }
                            }

                            @case("saque") {
                                <td class="px-4 py-2 text-lg border-b border-zinc-700 text-red-400 font-bold">R$ - {{movimentacao.valor | moedaBr }}</td>
                            }

                            @case("depósito") {
                                <td class="px-4 py-2 text-lg border-b border-zinc-700 text-sky-300 font-bold">R$ + {{movimentacao.valor | moedaBr }}</td>
                            }
                            @default {
                                <td class="px-4 py-2 border-b border-zinc-700">---</td>
                            }
                         }
                         <!-- Coluna do saldo atual -->
                         @if(movimentacao.tipo == null) {
                            <td class="px-4 py-2 text-lg border-b border-zinc-700 text-white-400 font-bold">R$ {{movimentacao.saldoCalculado | moedaBr}}</td>
                         } @else {
                            @switch (movimentacao.tipo) {
                                @case("transferência") {
                                    @if(movimentacao.destino === cliente.conta){ <!-- Se clienteDestino === nome do login atual, Azul. Caso contrário, vermelho. -->
                                    <td class="px-4 py-2 text-lg border-b border-zinc-700 text-sky-300 font-bold">R$ {{movimentacao.saldoCalculado  | moedaBr}}</td>    
                                } @else {
                                    <td class="px-4 py-2 text-lg border-b border-zinc-700 text-red-400 font-bold">R$ {{movimentacao.saldoCalculado  | moedaBr}}</td>
                                }

                                }
                                @case("saque"){
                                    <td class="px-4 py-2 text-lg border-b border-zinc-700 text-red-400 font-bold">R$ {{movimentacao.saldoCalculado  | moedaBr}}</td>
                                }
                                @case("depósito"){
                                    <td class="px-4 py-2 text-lg border-b border-zinc-700 text-sky-300 font-bold">R$ {{movimentacao.saldoCalculado  | moedaBr}}</td>
                                }
                                @default {
                                    <td class="px-4 py-2 text-lg border-b border-zinc-700 text-white-400 font-bold">R$ {{movimentacao.saldoCalculado  | moedaBr}}</td>
                                }
                            }  
                         }
                    </tr>
                }            
                </tbody>
            </table>
        </div>
    </div>
</div>