<h1> Meu Extrato </h1>

<h2> Transações de (data-inicio) a (data-fim)</h2>

<div class="secao-transacoes">
    <div class="lista-transacoes">
        @for (t of transacoesExemplo; track t; let i = $index) {
        <div class="transacao">
            <p class="header-transacao">{{t.data}}</p>
            <p class="header-transacao">{{t.operacao}}</p>
            @if(t.clienteOrigem != "") {
            <p class="header-transacao">De {{t.clienteOrigem}} para {{t.clienteDestino}}</p>
            } @else {
            <p class="header-transação"></p>
            }
            <p class="header-transacao">{{t.valor}}</p>
        </div>
    }
    </div>
</div>