.secao-transacoes {
    margin-left: 10vw;
    margin-right: 10vw
}

.lista-transacoes {
    border: 1px solid black;
    padding-left: 3vw;
    padding-right: 3vw;
}

.transacao {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid lightgray;
 */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid lightgray;
}

.header-transacao {
    min-width: 1fr;
    max-width: 1fr;
    padding: 2vh 3vw;
    /* border: 1px solid red; */
    text-align: center;
    vertical-align: middle;
}