<div class="flex flex-col w-full h-full bg-zinc-800 font-mono rounded-lg border border-zinc-700 overflow-hidden shadow-2xl">

    <!-- CABEÇALHO BANTADS -->
    <div class="flex w-full items-center justify-between border-b border-zinc-700 bg-zinc-900 px-6 py-4 text-sm text-zinc-300 flex-none">
        <div class="flex items-center gap-3">
            <span class="text-blue-500 font-bold animate-pulse">●</span>
            <span class="tracking-widest uppercase text-xs">BANTADS // TOP 3 CLIENTS</span>
        </div>
    </div>
  
  <!-- CONTEÚDO DA PÁGINA -->
    <div class="flex-1 flex flex-col justify-center items-center p-8 md:p-12 bg-zinc-900/30">
        
        <!-- PÓDIO DE MAIORES SALDOS -->
        <div class="flex flex-row gap-2">
            <div class="flex flex-col text-yellow-400 font-bold basis-1fr border border-solid justify-center py-6 px-5 border-ra rounded-md mt-3 min-w-1fr">
                <h1 class="text-center">Marlon</h1>
                <p class="text-center">#1</p>
            </div>
            <div class="flex flex-col text-stone-300 font-bold basis-1fr border border-solid justify-center py-6 px-5 border-ra rounded-md mt-9 min-w-1fr">
                <h1 class="text-center">João</h1>
                <p class="text-center">#2</p>
            </div>
            <div class="flex flex-col text-amber-600 font-bold basis-1fr border border-solid justify-center py-6 px-5 border-ra rounded-md mt-15 min-w-1fr">
                <h1 class="text-center">José</h1>
                <p class="text-center">#3</p>
            </div>
        </div>

        <!-- Informações dos clientes -->
         <div class="flex flex-1 flex-row gap-2 mt-8 w-full border-zinc-700 border-solid border-ra rounded-xl bg-zinc-900">

            <div class="flex flex-1 flex-col min-w-1fr grow justify-between">
                <p class="text-yellow-400 text-center mt-10 font-bold text-4xl">#1</p>

                <div>
                    <h1 class="text-center mt-6 text-neutral-50">Marlon</h1>
                    <h1 class="text-center text-neutral-50">123.567.890-10</h1>
                    <h1 class="text-center text-neutral-50">Curitiba - PR</h1>
                </div>
                
                <div>
                    <h1 class="text-center text-neutral-50 mb-20">Saldo da conta: </h1>
                </div>
            </div>

            <div class="flex flex-1 flex-col min-w-1fr justify-center">
                <p class="text-stone-300 text-center font-bold">#2</p>
            </div>

            <div class="flex flex-1 flex-col min-w-1fr justify-center">
                <p class="text-amber-600 text-center font-bold">#3</p>
            </div>

         </div>

    </div>
</div>
