<div class="flex flex-col w-full h-full bg-zinc-800 font-mono rounded-lg border border-zinc-700 overflow-hidden shadow-2xl">

  <div class="flex w-full items-center justify-between border-b border-zinc-700 bg-zinc-900 px-6 py-4 text-sm text-zinc-300 flex-none">
    
  </div>

  @if(loading){
    <app-loading cor="#5f98d4"></app-loading>
  }

  @if(cliente){
    <div class="flex-1 flex flex-col items-center p-8 md:p-12 bg-zinc-900/30 overflow-y-auto">
      <div class="w-full max-w-2xl flex flex-col items-center">
        
        <div class="w-full flex flex-col md:flex-row justify-between items-centar md:items-center gap-4 mb-5 border-b border-zinc-800 pb-6">

          <div class="flex flex-col">
            <span class="text-[12px] text-zinc-600 uppercase font-bold tracking-tighter">Gerente Responsável</span>
            <span class="text-blue-400 text-xs font-bold uppercase">{{cliente.gerente_nome}}</span>
            <span class="text-zinc-500 text-[10px]">Conta: {{cliente.conta}}</span>
          </div>
        </div>
  
        <section class="flex flex-col items-center mb-5 w-full animate-in fade-in duration-700">
          <span class="text-[10px] uppercase tracking-[0.3em] text-zinc-500 mb-4">Saldo Disponível</span>
          <div class="flex items-baseline gap-4">
            <span class="text-xl text-zinc-600 font-bold">R$</span>
            <h1 class="text-7xl font-bold text-white tracking-tighter">
              {{cliente.saldo | moedaBr}}
            </h1>
          </div>
          <div class="mt-4 px-3 py-1 bg-zinc-900/80 border border-zinc-700 rounded-sm text-[9px] text-zinc-500 uppercase tracking-widest">
            Limite utilizado: <span class="text-blue-400 font-bold">{{ limiteUtilizado | moedaBr}}</span>
          </div>
          
          <div class="mt-2 px-3 py-1 bg-zinc-900/80 border border-zinc-700 rounded-sm text-[9px] text-zinc-500 uppercase tracking-widest">
            Limite atual: <span class="text-blue-400 font-bold">{{limiteDisponivel | moedaBr}}</span>
          </div>
        </section>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-[400px] mb-8 animate-in zoom-in-95 duration-300">
          <button (click)="mudarView('DEPOSITO')" class="bg-zinc-800 border p-4 rounded-sm hover:border-blue-500 hover:bg-zinc-700 text-[10px] text-zinc-200 transition-all font-bold uppercase tracking-widest "
          [ngClass]="view === 'DEPOSITO' ? 'border-blue-500' : 'border-zinc-700'">
            Depositar
          </button>
          <button (click)="mudarView('TRANSFERENCIA')" class="bg-zinc-800 border p-4 rounded-sm hover:border-blue-500 hover:bg-zinc-700 text-[10px] text-zinc-200 transition-all font-bold uppercase tracking-widest"
          [ngClass]="view === 'TRANSFERENCIA' ? 'border-blue-500' : 'border-zinc-700'">
            Transferir
          </button>
          <button (click)="mudarView('SAQUE')" class="bg-zinc-800 border p-4 rounded-sm hover:border-blue-500 hover:bg-zinc-700 text-[10px] text-zinc-200 transition-all font-bold uppercase tracking-widest"
          [ngClass]="view === 'SAQUE' ? 'border-blue-500' : 'border-zinc-700'">
              Saque
          </button>
        </div>
  
        @if (view === 'DEPOSITO' || view === 'SAQUE') {
          <div class="flex flex-col gap-6 w-full animate-in slide-in-from-bottom-4 duration-300">
            <div class="border-l-2 border-blue-500 pl-4">
              <h2 class="text-white text-sm font-bold uppercase tracking-widest">
                {{ view === 'DEPOSITO' ? 'Efetuar Depósito ' : 'Efetuar Saque ' }}
              </h2>
              <p class="text-zinc-500 text-[10px]">Insira o valor abaixo para confirmar a operação.</p>
            </div>
  
            <div class="bg-zinc-900 border p-3 rounded-sm"
                [ngClass]="{
                  'border-red-500': mensagemErro,
                  'border-zinc-700': !valorFormatado,
                  'border-yellow-500': valorFormatado && !valorValido,
                  'border-blue-500': valorValido
                }">
              <label class=" flex justify-between text-[9px] mb-2 block">
                <span class="text-zinc-500 uppercase">Valor da transação</span>

                      @if (mensagemErro) {
                        <span class="text-red-500 text-[10px] normal-case">
                          {{ mensagemErro }}
                        </span>
                      }
              </label>

              <div class="flex items-center gap-4">
                <input
                  type="text"
                  id="valorInput"
                  name="valorInput"
                  [(ngModel)]="valorFormatado"
                  [numericos]="'salario'"
                  maxlength="15"
                  #valor="ngModel"
                  required
                  placeholder="R$ 0,00"
                  autofocus
                  class="bg-transparent text-1xl text-white outline-none w-full font-bold placeholder:text-zinc-600"
                  [ngClass]="{
                    'text-red-400': (valor.errors?.['required'] && valor.touched),
                    'text-white': valor.valid || valor.pristine
                  }"
                >

              </div>
            </div>
  
            <button
              (click)="view === 'DEPOSITO' ? depositar() : sacar()"
              class="py-4 rounded-sm font-bold text-xs uppercase tracking-[0.4em] transition-all"
              [disabled]="!valorValido"
              [ngClass]="{
                'bg-white text-black hover:bg-zinc-200 cursor-pointer':
                  valorValido,
                'bg-zinc-700 text-zinc-500 cursor-not-allowed opacity-50':
                  !valorValido
              }"
            >
              CONFIRMAR {{ view }}
            </button>
          </div>
        }
  
        @if (view === 'TRANSFERENCIA') {
          <div class="flex flex-col gap-6 w-full animate-in slide-in-from-bottom-4 duration-300">
            <div class="border-l-2 border-blue-500 pl-4">
              <h2 class="text-white text-sm font-bold uppercase tracking-widest">Transferência </h2>
              <p class="text-zinc-500 text-[10px]">Envie dinheiro para outra conta instantaneamente.</p>
            </div>
  
            <div class="flex gap-3 w-full">
              <div class="flex-1 bg-zinc-900 border p-3 rounded-sm"
                  [ngClass]="{
                    'border-red-500': mensagemErro !== 'Saldo insuficiente' && mensagemErro,
                    'border-zinc-700': contaDestino.length === 0,
                    'border-yellow-500': contaDestino.length > 0 && contaDestino.length < 4,
                    'border-green-500': contaDestino.length === 4
                  }">
                <label class=" flex justify-between text-[9px] mb-2 block">
                  <span class="text-zinc-500 uppercase">Conta de destino</span>

                        @if (mensagemErro !== 'Saldo insuficiente' && mensagemErro) {
                          <span class="text-red-500 text-[10px] normal-case">
                            {{ mensagemErro }}
                          </span>
                        }
                </label>
                <input type="text" [(ngModel)]="contaDestino" name="destinatario" placeholder="1234" 
                [numericos]="''"
                minlength="4"
                maxlength="4"
                class="bg-transparent text-1xl text-white outline-none w-full font-bold placeholder:text-zinc-600">
              </div>
              <div class="flex-1 bg-zinc-900 border p-3 rounded-sm"
                [ngClass]="{
                  'border-red-500': mensagemErro === 'Saldo insuficiente',
                  'border-zinc-700': !valorFormatado,
                  'border-yellow-500': valorFormatado && !valorValido,
                  'border-blue-500': valorValido
                }">
                <label class=" flex justify-between text-[9px] mb-2 block">
                  <span class="text-zinc-500 uppercase">Valor a enviar</span>

                        @if (mensagemErro === 'Saldo insuficiente') {
                          <span class="text-red-500 text-[10px] normal-case">
                            {{ mensagemErro }}
                          </span>
                        }
                </label>
                <input type="text"
                  id="valorInput"
                  name="valorInput"
                  [(ngModel)]="valorFormatado"
                  [numericos]="'salario'"
                  maxlength="15"
                  #valor="ngModel"
                  required
                  placeholder="R$ 0,00"
                  autofocus
                  class="bg-transparent text-1xl text-white outline-none w-full font-bold placeholder:text-zinc-600"
                  [ngClass]="{
                    'text-red-400': valor.errors?.['required'] && valor.touched,
                    'text-white': valor.valid || valor.pristine
                  }">
              </div>
            </div>
  
            <button (click)="transferir()" class="py-4 rounded-sm font-bold text-xs uppercase tracking-[0.4em] transition-all"
            [disabled]="!transferenciaValida"
            [ngClass]="{
                'bg-white text-black hover:bg-zinc-200 cursor-pointer':
                  transferenciaValida,
                'bg-zinc-700 text-zinc-500 cursor-not-allowed opacity-50':
                  !transferenciaValida
              }">
              CONFIRMAR TRANSFERÊNCIA
            </button>
          </div>
        }
  
      </div> 
    </div> 
  }
</div>
